# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# Virtual Environment
venv/
ENV/
env/

# IDE files
.idea/
.vscode/
*.swp
*.swo

# Jupyter Notebook
.ipynb_checkpoints
*.ipynb

# Scraped data
job_data/
*.json
*.csv
!requirements.txt
!sample_data/*.json

# Logs
*.log
scraper_log.txt
scraping_progress.json

# OS specific
.DS_Store
Thumbs.db

# HTML
*.html

